<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mon Budget</title>
  <link rel="stylesheet" href="./../assets/styles/global.css" />
  <link rel="stylesheet" href="./../assets/styles/budget.css" />
  <script src="./../assets/scripts/script.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- lib js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
</head>

<body>
  <!-- section header -->
  <header>
    <nav class="navbar">
      <div class="logo">
        <a href="./../index.html"><img src="./../assets/imgs/logo.png" alt="Logo" width="50" height="50" />
        </a>
        <p class="logo_paragraph">MonBudget</p>
      </div>
      <ul class="nav-links">
        <button id="toggleDark" class="btnDark">🌙</button>
      </ul>
    </nav>
  </header>
  <!-- section main -->
  <main>
    <div class="container">
      <div class="hero-content-budget">
        <h1>Bienvenue sur MonBudget</h1>
        <div class="flex_row ">
          <p>Gérez vos finances facilement et efficacement.</p>
          <a class="btn linkNotDecorated" href="./../index.html">Retourner</a>
        </div>
        <div class="history"></div>
        <div class="flex_row">
          <form class="card formRevnus" action="#">
            <h3>
              Ajouter un revenu pour le <span class="selectedMonth"></span>
            </h3>
            <div>
              <label for="montant">Montant :</label>
              <input type="number" id="montant" name="montant" min="0" maxlength="6" required
                placeholder="Entrez le montant" />
            </div>
            <div>
              <label for="categorie">Catégorie :</label>
              <select id="categorie" name="categorie" required>
                <option value="salaire">Salaire</option>
                <option value="pensions">Pensions</option>
                <option value="allocations_sociales">
                  Allocations sociales
                </option>
                <option value="loyers">Loyers</option>
                <option value="FDJ">FDJ</option>
                <option value="cadeau">Cadeau</option>
                <option value="autres">Autres</option>
              </select>
            </div>

            <button type="submit" class="btn">Ajouter</button>
          </form>

          <div class="card totalRevenus">
            <h3>Revenus totaux</h3>
            <p id="totalRevenus">0 €</p>
            <h3>Revenus par catégorie</h3>
            <ul id="revenusCategories"></ul>
          </div>
        </div>
        <div class="flex_row">
          <form class="card formDepenses" action="#">
            <h3>
              Ajouter un dépenses pour le <span class="selectedMonth"></span>
            </h3>
            <div>
              <label for="montant">Montant :</label>
              <input type="number" id="montantDepenses" name="montant" min="0" maxlength="6" required
                placeholder="Entrez le montant" />
            </div>
            <div>
              <label for="categorie">Catégorie :</label>
              <select id="categorieDepenses" name="categorie" required>
                <option value="alimentation">Alimentation</option>
                <option value="loisirs">Loisirs</option>
                <option value="transports">Transports</option>
                <option value="hébergement">Hébergement</option>
                <option value="divers">Divers</option>
                <option value="autres">Autres</option>
              </select>

              <button type="submit" class="btn">Ajouter</button>
            </div>
          </form>
          <div class="card totalDepenses">
            <h3>Dépenses totaux</h3>
            <p id="totalDepenses">0 €</p>
            <h3>Dépenses par catégorie</h3>
            <ul id="depensesCategories"></ul>
          </div>
        </div>
        <div class="total">
          <div class="card budgetRemaining">
            <h3>Total restant</h3>
            <p id="totalBudgetRemaining">0 €</p>
            <div class="export-buttons" style="margin-top: 20px">
              <button id="exportCSV" class="btn">📁 Exporter en CSV</button>
              <button id="exportPDF" class="btn">📄 Exporter en PDF</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- section footer-->
  <footer>
    <p>Suivez-nous sur les réseaux sociaux:</p>
    <ul class="social-media-links">
      <li>
        <a href="https://facebook.com" target="_blank" class="lienReseauxSociaux"><i
            class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="https://instagram.com" target="_blank" class="lienReseauxSociaux"><i
            class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank" class="lienReseauxSociaux">
          <i class="fa-brands fa-twitter"></i></a>
      </li>
    </ul>
    <p>&copy; 2025 MonBudget. Tous droits réservés.</p>
  </footer>
</body>

</html>